<%= breadcrumb_path(repo.name, commit_id, path)  %>
<a href="/repo/<%= repo.name %>/commits/<%= commit_id %>/<%= path %>">History</a><br>
<% if blob.image? %>
  <%= blob_img_tag(commit_id, path) %>
<% else %>
  <%= blob.colorize %>
<% end %>
