<h1>
<%= commit.message.split("\n").first %>
</h1>
Browse the <a href="/tree/<%= commit.tree.id %>">Tree</a>
<div id="author">
  Author: <%= commit.author %>
</div>
<div id="committer">
  Committer: <%= commit.committer %>
</div>
<div id="commit-id">
  SHA: <%= commit.id %>
</div>
<div id="message">
  <pre><code>
<%= commit.message %>
</pre></code>
</div>
<% commit.diffs.each do |diff| %>
  <%= diff.a_path %>
  <div class="highlight">
  <%= colorize_diff(diff.diff) %>
  </div>
<% end %>

