<p>
<div class="commit message well">
<% msg = commit.message.split("\n") %>
<h2><%= msg.shift%></h2>
<pre>
<%= msg.join("\n") %>
</pre>
<div class="author-committer">
  <div class="author">
    <img src="<%= gravatar(commit.author.email, "25x25") %>" class="author"/>
    <span class="light"><span class="author-name"><%= commit.author %></span> authored <%= commit_time commit.authored_date %></span>
  </div>
  <div class="committer">
  </div>
</div>
</div>
</p>
<div id="commit-id">
  SHA: <%= commit.id %>
</div>
<div id="commit-parent">
  Parent: <%= repo_link_to repo, commit.parents.first.id, :page => :commits, :commit => commit.parents.first.id %>
</div>
<div class="diff-files">
  <% commit.diffs.each_with_index do |diff, index| %>
    <% if diff.new_file %>
      <div class="diff-file"><span class="btn btn-success"><i class="icon-plus icon-white"></i></span> <a href="#<%= index%>"><%= diff.b_path %></a></div>
    <% elsif diff.deleted_file %>
      <div class="diff-file"><span class="btn btn-danger"><i class="icon-minus icon-white"></i></span> <%= diff.b_path %></div>
    <% else %>
      <div class="diff-file"><span class="btn btn-info"><i class="icon-repeat icon-white"></i></span> <a href="#<%= index %>"><%= diff.b_path %></a></div>
    <% end %>
  <% end %>
</div>
<% commit.diffs.each_with_index do |diff, index| %>
<div class="diff">
  <div class="header">
    <i class="icon-file"></i> <a name="<%= index %>" title="<%= diff.b_path %>"></a><%= diff.b_path %>
  </div>
    <% if image?(diff.b_path) %>
      <div class="image">
        <%= blob_img_tag(commit.id, diff.b_path) %>
      </div>
    <% else %>
      <div class="highlight">
        <%= colorize_diff(diff.diff) %>
      </div>
    <% end %>
</div>
<% end %>
