<h1>
<%=h commit.short_message %>
</h1>
<div id="author">
  Author: <%= commit.author %>
</div>
<div id="committer">
  Committer: <%= commit.committer %>
</div>
<div id="commit-id">
  SHA: <%= commit.id %>
</div>
<p>
<div id="message">
  <pre>
    <%=h commit.message %>
  </pre>
</div>
</p>
<div class="diff_files">
  <% commit.diffs.each_with_index do |diff, index| %>
    <% if diff.new_file %>
      <span class="btn btn-success"><i class="icon-plus icon-white"></i></span> <a href="#<%= index%>"><%= diff.b_path %></a><br>
    <% elsif diff.deleted_file %>
      <span class="btn btn-danger"><i class="icon-minus icon-white"></i></span> <%= diff.b_path %><br>
    <% else %>
      <span class="btn btn-info"><i class="icon-repeat icon-white"></i></span> <a href="#<%= index %>"><%= diff.b_path %></a><br>
    <% end %>
  <% end %>
</div>
<% commit.diffs.each_with_index do |diff, index| %>
<div class="diff">
  <div class="header">
    <a name="<%= index %>"><%= diff.b_path %></a>
  </div>
    <% if image?(diff.b_path) %>
      <div class="image">
        <%= blob_img_tag(commit.id, diff.b_path) %>
      </div>
    <% else %>
      <div class="highlight">
        <%= colorize_diff(diff.diff) %>
      </div>
    <% end %>
</div>
<% end %>
