<h1>
<%=h commit.message.split("\n").first %>
</h1>
Browse the <a href="/tree/<%= commit.tree.id %>">Tree</a>
<div id="author">
  Author: <%= commit.author %>
</div>
<div id="committer">
  Committer: <%= commit.committer %>
</div>
<div id="commit-id">
  SHA: <%= commit.id %>
</div>
<div id="message">
  <pre><code>
<%=h commit.message %>
</pre></code>
</div>
<% commit.diffs.each do |diff| %>
<div class="diff">
  <% if diff.a_path != diff.b_path %>
    <%= diff.a_path %> -&lt; <%= diff.b_path %><br>
  <% else %>
    <%= diff.a_path %><br>
  <% end %>
  <div class="highlight">
  <%= colorize_diff(diff.diff) %>
  </div>
</div>
<% end %>
