<h1>
<%=h commit.message.split("\n").first %>
</h1>
Browse the <a href="/repo/<%= repo.name %>/tree/<%= commit.tree.id %>">Tree</a>
<div id="author">
  Author: <%= commit.author %>
</div>
<div id="committer">
  Committer: <%= commit.committer %>
</div>
<div id="commit-id">
  SHA: <%= commit.id %>
</div>
<div id="message">
  <pre><code>
<%=h commit.message %>
</pre></code>
</div>
<div class="diff_files">
  <% commit.diffs.each_with_index do |diff, index| %>
    <% if diff.new_file %>
      + <a href="#<%= index%>"><%= diff.b_path %></a><br>
    <% elsif diff.deleted_file %><br>
      - <%= diff.b_path %>
    <% else %>
      = <a href="#<%= index %>"><%= diff.b_path %></a><br>
    <% end %>
  <% end %>
</div>
<% commit.diffs.each_with_index do |diff, index| %>
<div class="diff">
  <div class="header">
    <a name="<%= index %>"><%= diff.b_path %></a>
  </div>
    <% if image?(diff.b_path) %>
      <div class="image">
        <%= blob_img_tag(commit.id, diff.b_path) %>
      </div>
    <% else %>
      <div class="highlight">
        <%= colorize_diff(diff.diff) %>
      </div>
    <% end %>
</div>
<% end %>
