Comparing

<div class="diff_files">
<% diffs.each_with_index do |diff, index| %>
  <% if diff.new_file %>
    + <a href="#<%= index%>"><%= diff.b_path %></a><br>
  <% elsif diff.deleted_file %>
    - <%= diff.b_path %><br>
  <% else %>
    = <a href="#<%= index %>"><%= diff.b_path %></a><br>
  <% end %>
<% end %>
</div>
<% diffs.each_with_index do |diff, index| %>
<div class="diff">
  <div class="header">
    <a name="<%= index %>"><%= diff.b_path %></a>
  </div>
    <% if image?(diff.b_path) %>
      <div class="image">
        <%#= blob_img_tag(diff.b_path, diff.b_path) %>
      </div>
    <% else %>
      <div class="highlight">
        <%= colorize_diff(diff.diff) %>
      </div>
    <% end %>
</div>
<% end %>

