<!DOCTYPE html>
<html>
<head>
  <title><%= defined?(page_title) ? "#{page_title} - #{repo.name ? repo.name : ""}" : "Git.log"  %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/syntax.css">
</head>
<body>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Git.log</a>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Repositories<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% @config.repositories.each do |name, info| %>
                  <li><%= repo_link_to name, info[:title], :page => :commits %></li>
                <% end %>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="container">
      <% if defined?(repo) %>
        <header id="header">
        <h1><%= repo.title %><%= " <span class=\"light\">&nbsp/&nbsp;"+branch+"</span>" if branch %></h1>
          <div class="subnav">
            <ul class="nav nav-tabs">
              <li <%= 'class="active"' if subnav == :commits %>><%= repo_link_to repo, "Commits", :page => :commits, :commit => branch %></li>
              <li <%= 'class="active"' if subnav == :files %>><%= repo_link_to repo, "Files", :page => :tree, :commit => branch %></li>
              <li <%= 'class="active"' if subnav == :branches %>><%= repo_link_to repo, "Branches", :page => :branches%></li>
            </ul>
          </div>
        </header>
      <% end %>
    <%= yield %>
    <footer>
      <a href="http://github.com/simon/git.log">Git.log</a> is open source
    </footer>
  </div>
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
