<html>
<head>
<title>Git.log</title>
<link rel="stylesheet" href="/stylesheets/screen.css">
<link rel="stylesheet" href="/stylesheets/syntax.css">
</head>
<body>
  <nav>
  <% if defined?(repo) %>
    <%= repo.title %>: 
    <a href="/repo/<%= repo.name %>/commits">History</a> | 
    <a href="/repo/<%= repo.name %>/tree">Tree</a> | 
    <a href="/repo/<%= repo.name %>/branches">Branches</a> | 
  <% end %>
  <a href="/">Show repositories</a>
  </nav>
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>
