<%= breadcrumb_path(repo.name, branch, path) %></h1>
<% tree.trees.each do |t| %>
  /<a href="/repo/<%= repo.name %>/tree/<%= branch %><%= path %><%= t.basename %>"><%= t.name %></a><br>
<%end%>
<% tree.blobs.each do |b| %>
  <a href="/repo/<%= repo.name %>/blob/<%= branch %><%= path %><%= b.basename%>"><%= b.name %></a><br>
<%end%>
